@media (max-width: $mobile-width) {
  .accordion__item-wrapper:not(:last-of-type) {
    border-bottom: 1px solid $border-color--light;
  }

  .accordion__item {
    @include container-mobile;
  }

  .accordion__content {
    padding-top: 3px;
    padding-bottom: 28px;

    &--js {
      display: none;
    }
  }

  .accordion__title {
    &--js {
      transition: all 0.3s;
      position: relative;
      cursor: pointer;
    }

    &--js::before,
    &--js::after {
      transition: all 0.3s;
      position: absolute;
      content: "";
      top: 50%;
      right: 8px;
      width: 1px;
      height: 16px;
      background-color: $bg-color--medium;
      transform: translateY(-50%);
    }

    &--js::after {
      transform: translateY(-50%) rotate(90deg);
    }

    &--js:hover::before,
    &--js:hover::after {
      background-color: $bg-color--decor;
    }

    &--js:active,
    &--js:active {
      opacity: 0.6;
    }

    &--active::before {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}
