@media (max-width: $tablet-width) {
  .footer-copyright {
    padding-top: 8px;
    padding-bottom: 11px;
  }
}

@media (max-width: $mobile-width) {
  .footer-copyright {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}
