.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo {
  margin-right: 20px;
}

.header__logo-ico {
  width: 202px;
  height: 52px;
}

.header__toggle-btn {
  transition: all 0.3s;
  position: relative;
  min-width: 60px;
  height: 53px;
  padding: 15px 5px;
  border: none;
  margin-left: auto;
  margin-top: 2px;
  cursor: pointer;
  background-color: transparent;

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 50%;
    width: 37px;
    height: 1px;
    background-color: $bg-color--clear;
    transform: translateX(-50%);
  }

  &::before {
    top: 19px;
  }

  &::after {
    bottom: 19px;
  }

  &--nojs {
    display: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__btn {
  min-width: 180px;
  margin-top: 5px;
}

.header__contacts {
  margin-right: 44px;
}

@media (max-width: $tablet-width) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__toggle-btn {
    min-width: 40px;
    height: 49px;
    padding: 13px 1px;
    margin-top: 0;
    margin-right: 3px;

    &::before {
      top: 17px;
    }

    &::after {
      bottom: 19px;
    }
  }

  .header__contacts {
    margin-right: 0;
  }

  .header__btn {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .header {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .header__toggle-btn {
    height: 33px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;

    &::before {
      top: 10px;
    }

    &::after {
      bottom: 10px;
    }
  }

  .header__logo-ico {
    width: 38px;
    height: 38px;
  }
}
