.main-contacts {
  @include reset-list;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  max-width: 820px;
  width: 100%;
}

.main-contacts__item {
  margin-left: 9%;
}

.main-contacts__link {
  transition: all 0.3s;
  padding: 16px 7px;
  display: flex;
  align-items: center;
  color: $text-color--light;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-contacts__ico {
  margin-right: 20px;
  width: 20px;
  height: 20px;

  &--mail {
    width: 19px;
    height: 14px;
  }

  &--phone {
    margin-right: 16px;
    width: 18px;
    height: 18px;
  }
}

@media (max-width: $tablet-width) {
  .main-contacts {
    width: auto;
  }

  .main-contacts__item {
    margin-left: 32px;
  }

  .main-contacts__link {
    font-size: 0;
    padding: 13px 0 13px;
  }

  .main-contacts__ico {
    width: 25px;
    height: 25px;
    margin-right: 0;

    &--mail {
      width: 25px;
      height: 19px;
    }

    &--phone {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: $mobile-width) {
  .main-contacts__item {
    margin-left: 23px;
  }

  .main-contacts__link {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
