@font-face {
  font-family: "PTMono";
  src: url("../fonts/PTMono-regular.woff2") format("woff2"), url("../fonts/PTMono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
