@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin main-btn {
  transition: all 0.3s;
  display: block;
  max-width: 180px;
  width: 100%;
  padding: 14px 13px 13px;
  border: 1px solid $border-color--lighten;
  border-radius: 5px;
  font-family: $additional-font;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $text-color--light;
  text-decoration: none;
  letter-spacing: 1px;

  &:hover {
    border-color: $border-color--decor;
    background-color: $bg-color--decor;
    color: $text-color--light;
  }

  &:active {
    opacity: 0.6;
  }
}

@mixin container-reset {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

@mixin container-tablet {
  max-width: $tablet-continer-width;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

@mixin container-mobile {
  max-width: $mobile-continer-width;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
