$desktop-width: 1220px;
$desktop-width--big: 1461px;
$tablet-width: 1023px;
$tablet-continer-width: 975px;
$mobile-width: 767px;
$mobile-continer-width: 737px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$main-font: "PTMono", "Arial", sans-serif;
$additional-font: "RobotoCondensed", "Tahoma", sans-serif;
$main-color: #00b2ff;
$blue--medium: #3b5998;
$blue--dark: #4a76a8;
$blue--darken: #1b2d37;
$orange: #f58220;
$white-color: #ffffff;
$white-dark: #fafafa;
$black-color--light: #1b2d37;
$gray-color--lighten: #dcdddc;
$gray-color--light: #cdcdcd;
$gray-color--medium-lighter: #c4c4c4;
$gray-color--medium-lighte: #ebebeb;
$gray-color--medium: #8a9398;
$gray-color: #1b2d37;
$gray-colorr--darken: #666666;
$text-color--main: $gray-colorr--darken;
$text-color--dark: $black-color--light;
$text-color--medium: $gray-color--medium;
$text-color--light: $white-color;
$text-color--decor: $main-color;
$border-color--lighten: $white-color;
$border-color--light: $gray-color--lighten;
$border-color--medium: $gray-color--medium-lighte;
$border-color--decor: $main-color;
$decor-color--main: $main-color;
$decor-color--clear: $white-color;
$bg-color--dark: $blue--darken;
$bg-color--decor: $main-color;
$bg-color--medium: $gray-color--medium-lighter;
$bg-color--clear: $white-color;
$bg-color--light: $white-dark;
$social-colo--unactive: $gray-color--light;
$social-colo--fb: $blue--medium;
$social-colo--ok: $orange;
$social-colo--vk: $blue--dark;
