$desktop-width: 1220px;
$desktop-width--big: 1461px;
$tablet-width: 1023px;
$tablet-continer-width: 975px;
$mobile-width: 767px;
$mobile-continer-width: 737px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$main-font: "PTMono", "Arial", sans-serif;
$additional-font: "RobotoCondensed", "Tahoma", sans-serif;
$main-color: #00b2ff;
$blue--darken: #1b2d37;
$white-color: #ffffff;
$black-color--light: #1b2d37;
$gray-color--light: #cdcdcd;
$gray-color: #1b2d37;
$gray-colorr--darken: #666666;
$text-color--main: $gray-colorr--darken;
$text-color--light: $white-color;
$text-color--decor: $main-color;
$border-color--light: $white-color;
$border-color--decor: $main-color;
$decor-color--main: $main-color;
$bg-color--dark: $blue--darken;
$bg-color--decor: $main-color;
$bg-color--clear: $white-color;
